/* TODO: Separate structure form theme to use CVA */

.button{
  background-color: cadetblue;
  display: block;
  width: 100%;
  border-radius: .5rem .5rem 1rem 1rem;
}

.button:hover{
  background-color: rgb(8, 180, 168);
  cursor: pointer;
}
