.card{
  min-height: 30rem;
  min-width: 6rem;
  max-width: 18rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_themePrimary{
  background-color: #606060;
  border-radius: 1rem;
  color: aliceblue;
}

.card__cardAction{
  width: 100%;
  margin-top: auto;
}

